/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('wallpaper-wiki-plain-blue-background-wallpaper-hd-pic-wpe006182.jpg');
}
.wrapper {

    position: relative;
    width: 400px;
    height: 440px; 
    background: transparent; 
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

form{
    align-content: center;
} */

*{
    margin: 0%;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #21292c;
}
.form{
    width: 290px;
    height: 280px;
    border-radius: 20px;
    background: #141414;
    border: 3px solid blue;
    box-shadow: 0px 5px 10px 0px rgba(7, 220,220),
    1px 3px 4px 0px rgba(7, 220,220);
}
.form:hover{
    border: 3px solid green;
    transition: 0.5s ease ease-in-out;
    
}
.box{
    margin-top: 20px;
    text-align: center;
    color: white;
}
input{
    margin: 16px auto;
    width:170px;
    height: 40px;
    border-radius: 20px;
    border-bottom: 2px solid green;
    text-align: center;
    color: white;
    background: none;
}
input:hover{
    border:2px solid rgb(53, 53, 163);
    width: 230px;
    transition: o.7s ease-in-out;
}
